<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "OAuth Demo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="mt-6">
    <header>
      <%= Current.user.email %>
    </header>

    <main>
      <%= yield %>
    </main>

    <div class="fixed top-0 inset-x-0 mx-auto">
      <p type="alert" class="text-center text-white bg-red-500">
        <%= flash[:alert] %>
      </p>
      <p type="alert" class="text-center text-white bg-blue-500">
        <%= flash[:notice] %>
      </p>
    </div>
  </body>
</html>
